# Ignore node_modules in both Client and Server directories
Client/notes_app/node_modules/
Server/node_modules/

# Other common ignores
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Server/.env
Server/config.json
